body {
  font: 16px/1 sans-serif;
}
#root {
  height: 100%;
}
.checklist--add-task {
  border: 1px dashed #bbb;
  width: 10%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 3px;
}

input {
  padding: 5px;
  width: 120px;
  margin-top: 10px;
}

.item {
  background-color: #efefef;
  cursor: pointer;
  display: block;
  margin-bottom: 1px;
  padding: 8px 12px;
  width: 120px;
}

.toggle-enter {
  max-height: 0;
  overflow: hidden;
}

.toggle-enter.toggle-enter-active {
  max-height: 300px;
  overflow: hidden;
  transition: max-height .25s ease-in;
}

.toggle-leave {
  max-height: 300px;
  overflow: hidden;
}

.toggle-leave.toggle-leave-active {
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-out;
}
